.container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.title {
  font-size: 72px;
}

.desc {
  font-size: 18px;
}

.button {
  padding: 10px 16px;
  cursor: pointer;
  background-color: #FD377E;
  border: none;
  border-radius: 4px;
  color: white;
  width: max-content;
  font-weight: 500;
}

.arrow {
  margin-left: 20px;
}

.img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}